<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visible ? 1 : 0}"
*ngIf="visible">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-twelve grid">
            <ng-container *ngTemplateOutlet="header"></ng-container>
            <button class="modal-close" data-dismiss="modal" type="button" aria-label="Close" (click)="close()">×</button>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <ng-container *ngTemplateOutlet="body"></ng-container>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-twelve grid">
                <button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
            </div>
          </div>
     
    </div>
  </div>
</div>
</div>

