//* Variables *//
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
//* Breakpoints *//
$small: 0;
$medium: 40em;
$large: 64em;

//* Grid *//
$gutter: 2%;
$grid: (col-one, col-two, col-three, col-four, col-five, col-six, col-seven, col-eight, col-nine, col-ten, col-eleven, col-twelve);
$container-max-width: 2040px;

//*Site Colors *//
$primary-color:         #f15a2a;
$border-color:          #ccc;
$button-color:          #7a7a7a;
$button-hover-color:    #2a2a2a;
$bg-color:              #ededed;
$body-color:            #333;
$shadow-color:          #bbb;
$hover-color:           #8c8a8a;
$white-color:           #fff;
$info-color:            #3498db;
$success-color:         #27ae60;
$warning-color:         #f39c12;
$danger-color:          #dd0000;
$secondary-color:       #194484;
$default-button-color:  #ced9e1;
//* Fonts *//
$base-font-family: "Open Sans", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;
$font-weight-base: 400;
$font-weight-bold: 600;