@import'../core/mixins';
@import'../core/variables';
/* Global styles */
a {
	transition: .2s ease-out;
	cursor: pointer;
}
.svg-icon {
    width: 30px;
    height: 30px;
}
.svg-icon-xs {
	height: 13px;
    width: 13px;
}
.svg-icon-small {
	height: 20px;
    width: 20px;
}
.svg-icon-medium {
	width: 40px;
    height: 40px;
}
.svg-icon-large {
	width: 100px;
    height: 100px;
}
.svgicon-fix-m{
    vertical-align: middle;
}