@import'../core/mixins';
@import'../core/variables';
/* Global styles */
a {
	text-decoration: underline;
	transition: .2s ease-out;
	transition-property: background-color, color;
	color: $primary-color;
	cursor: pointer;

	@include hover() {
		color: $hover-color;
	}
}
