/* Helpers */
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-justify {
	text-align: justify;
}

.clearfix {
    clear: both;
    display: block;
    overflow: hidden;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.font-light {
	font-weight: lighter;
}

.font-normal {
	font-weight: normal;
}

.font-bold {
	font-weight: 600;
}

.allow-overflow{
	&.x {
		overflow-y: auto;
	}

	&.y {
		overflow-y: auto;
	}
}

.hide-overflow,
.forbid-overflow {
	&.x {
		overflow-y: hidden;
	}

	&.y {
		overflow-y: hidden;
	}
}
.vertical-align-m{
	vertical-align: middle;
}
.bg-white{
	background-color: $white-color;
}
.bg-primary{
	background-color: #efefef;
}
.no-pad-all{
 padding: 0;
}
.no-pad-left{
	padding-left: 0;
}
.no-pad-right{
	padding-right: 0;
}
.no-marg-all{
	margin: 0;
}
.no-marg-left{
	margin-left: 0;
}
.no-marg-right{
	margin-right: 0;
}
