/* Helpers */

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-justify {
	text-align: justify;
}

.clearfix {
    clear: both;
    display: block;
    overflow: hidden;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.font-light {
	font-weight: lighter;
}

.font-normal {
	font-weight: normal;
}

.font-bold {
	font-weight: 600;
}

.allow-overflow{
	&.x {
		overflow-y: auto;
	}

	&.y {
		overflow-y: auto;
	}
}

.hide-overflow,
.forbid-overflow {
	&.x {
		overflow-y: hidden;
	}

	&.y {
		overflow-y: hidden;
	}
}
