/* Label */

.primary {
	color: $info-color;
}

.success {
	color: $success-color;
}

.warning {
	color: $warning-color;
}

.danger {
	color: $danger-color;
}
input, 
select{
	&.ng-invalid.ng-touched{
		border: 1px solid $danger-color !important;
	}
	&.ng-valid.ng-touched{
		border: 1px solid $success-color !important;
	} 
}	

.disabled {
	color: rgba(0, 0, 0, 0.27) !important;
    cursor: not-allowed;
    background-color: rgba(122, 122, 122, 0.07) !important;
}