.modal {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	overflow-y: auto;
	overflow-x: hidden;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	&.open {
		opacity: 1;
		visibility: visible;
	}

}
.modal-dialog {
	position: relative;
	margin: 10px auto;
	width: 60%;
}
.modal-large{
	width: 80%;		
}
.modal-small{
   width: 25%;	
}
.modal-content {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: $white-color;
	border: 1px solid $border-color;
	border-radius: 5px;
}

.close, .modal-close{
	background-color: transparent;
	font-size: 24px;
	color: $button-color;
	border: none;
	cursor: pointer;
	float: right; 
}
.modal-header,
.modal-body,
.modal-footer {
	position: relative;
	padding: 15px 0;

	& > * {
		margin: 0;
	}
}

.modal-header {
	& + .modal-body {
		@include after() {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 1px;
			width: 100%;
			background-color: $bg-color;
		}
	}
}

.modal-body {
	& + .modal-footer {
		@include after() {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 1px;
			width: 100%;
			background-color: $bg-color;
		}
	}
}

.modal-footer {
	display: flex;
	justify-content: flex-end;

	.button {
		margin-right: 5px;
	}
}

.register-modal .tab-content{
	padding: 0
}

@media (max-width: 425px){
	.modal-small,
	.modal-dialog,
	.modal-large{
		width: 100%;	
	 }	
}