.nav,.none {
    list-style: none
}

.nav {
    padding: 0;
    margin: 0
}
.tab-content {
    overflow: hidden;
    display: block;
    background: $white-color;
    border-top: 0;
    padding: 0 1em;
}
.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.1em;
}
.nav-tabs .nav-link {
    display: block;
    padding: 10px 30px 10px 0;
    margin-right: 25px;
    text-decoration: none;
    text-align: left;
}
.nav-tabs-vertical {
    @include screen($large){
        float: left;
    }
    border-right: 0;
}           
.nav-tabs-vertical .nav-item {
    z-index: 1;
    display: block;
    margin: 2px 0;
    background-color: $light-gray-color;
}
.nav-tabs-vertical .nav-item:first-child{
    margin-top: 0
}
.nav-tabs-vertical .nav-item:last-child{
    margin-bottom: 0
}
.nav-tabs-vertical .nav-link {
    display: block;
    width: 100%;
    padding: 1.8em  0.5em;
    text-decoration: none;
    color: $secondary-color;
    text-align: center;
    cursor: pointer;
}
.nav-tabs-vertical .nav-link.active {
    background: $white-color;
}

