// .tabs-container{
//   border: 1px solid $secondary-color;
//   margin: -1px;
// }
.active {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid $secondary-color;
}

.nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #CCC;
    max-height: 38px;
    margin-bottom: 1em;

    .active {
        border-bottom: transparent;
        margin-bottom: -1px;
    }
}

.nav-tabs-vertical {
    float: left;
    border-right: 1px solid $secondary-color;
    // max-width: 200px;
    margin-right: -1px;
    background: $white-color;


    .active {
        border-right: transparent;
        margin-right: -1px;
        color: $secondary-color;
    }

    .nav-item {
        width: 100%;
    }
}

.nav-link {
    position: relative;
    display: block;
    padding: 10px 15px;
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
    text-decoration: none;
    color: inherit;
}

.tab-content {
    overflow: hidden;
    display: block;
    // padding: 0 1em;
    border-left: 1px solid $secondary-color;

}

// .nav-item {
//     border: 1px solid #CCC;
// }

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef #ddd;
}

.nav-tabs .nav-link.disabled {
    color: #868e96;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: $primary-color;
    border-color: $primary-color;
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}