.account-header{
    border-bottom: 3px solid $default-color;
   margin-top: 54px;
}
.account-header.active{
    border-bottom: 3px solid $primary-color;;
}
.tab-account .tab-content{
    padding: 0 60px;
}
.tab-account .tab-content .tab-content{
    padding: 1em 1em;
}
.account-buttons-container{
    margin-top: 50px;
}
.account-footer-container {
    position: absolute;
    bottom: 10px;
    right: 60px;
}
.account-balance-desc{
  width: 200px;
}
.account-footer-link{
    color: $light-gray-color;
    padding: 14px 15px;
    font-size: 1rem;
    vertical-align: middle;
}
.vertical-line{
  border-right: 1px solid $gray-color;
  line-height: 7px;
  vertical-align: middle;
}

.account-inbox-date {
    font-size: 0.9rem;
}
.account-inbox-subj {
    font-size: 0.9rem;
    width: 85%;
}
.account-inbox-btn {
    font-size: 0.9rem;
    width: 15%;
}
.account-inbox-container{
    padding: 15px 0;
    border-bottom: 1px solid $light-gray-color;
}
@include screen($large){

      .scroll-content{
          overflow-y: scroll;
          height: 710px;
      }
}

@media (max-width: $large){
    .account-footer-container {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 10px;
        right: auto;
    }
    .account-buttons-container{
        margin-top: 0;
        .spacing-right{
            margin-right: 0;
        }
        .spacing-left{
            margin-left: 0;
        }
    }
    
}

@media (max-width: 425px) {
    .tab-account .tab-content {
        padding: 0 15px;
    }
    .account-buttons-container{
        .btn{
            font-size: 0.9rem;
            display: block;
            width: 100%;
            margin-bottom: 1rem;
        }
        .account-footer-link{
            font-size: 0.9rem;
        }
    }
    
    .account-inbox-btn, .account-inbox-subj {
        width: 100%;
    }
 
}