.slider {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000
}
.slider .prev {
    left: 5%
}

.slider .next {
    right: 5%
}

  .slider .nav-horizontal {
      position: absolute;      
      right: 5%;
      bottom: 5%;
  }

  .slider-ul {
    max-width: 1454px;
    margin: 0 auto;
  }

  .slider iframe {
      width: 100%;
      height: 305px;
      border: none;
  }

  .slider-ul {
      max-width: 1454px;
      margin: 0 auto;
    }
    .slider-li {
        float: left;
        width: 100%;
        display: none;
        border: none
    }
    
    .slider-li.active {
        display: block;
        background: #000
    }
.slider-arrow-prev, 
.slider-arrow-next {
    position: absolute;
    color: #fff;
    padding: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
.slider-arrow-prev{
  left: 5%
}
.slider-arrow-next{
  right: 5%
}

.slider-ul{
  padding: 0;
}
.slider-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content:flex-end;
    -ms-flex-pack: center;
    justify-content: flex-end;
    padding-left: 0;
    margin-right: 5%;
    list-style: none;
}
.slider-indicators-item {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    max-width: 30px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255,255,255,.5);
}
.slider-indicators-item.active {
    background-color: #fff;
}

@media (max-width: 64em){
    .slider-indicators{
        bottom: -10px;
        justify-content: center;
        -webkit-justify-content:center;
    }

    .slider-arrow-prev, .slider-arrow-next{
     display: none 
    }
}
//Logged Out 
.slider{
    height: 473px
}

.slider-indicators.nav-vertical .slider-indicators-item {
    display:  block;
    width: 100%;
    max-width: 300px;
    text-indent: 0;
}

.slider-indicators.nav-vertical .slider-indicators-item {
    background: rgba(242, 241, 241, 0.96);
    color: $secondary-color;
    margin: 15px 0;
    padding: 10px 45px;
    height: 80px;
    font-weight: $font-weight-bold;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1rem;
}
.slider-indicators.nav-vertical .slider-indicators-item.active{
    background: $dark-gray-color;
    color: #fff;
}
.slider-indicators.nav-vertical .slider-indicators-item.active::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 20px 40px 0;
    border-color: transparent $dark-gray-color transparent transparent;
    line-height: 0px;
    _border-color: #000000 $dark-gray-color #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    left: -20px;
    top: 0;
    bottom: 0;
    position: absolute;
}
.slider-indicators.nav-vertical {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    left: auto;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: center;
    justify-content: flex-end;
    padding-left: 0;
    margin-right: 5%;
    list-style: none;
    align-items: center;
    height: 100%;
}
.offer-text.medium {
    font-size: 2.5rem;
    font-weight: 700;
    color: #5c5b5b;
    line-height: 1;

}
.offer-text.large{
    font-size: 3.5rem;
    font-weight: 700;
    color: #f15a2a;
    text-transform: uppercase;
}
.offer-text{
  max-width: 600px;
}
.motd{
    height: 305px;
}