.slider {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000
}
.slider .prev {
    left: 5%
}

.slider .next {
    right: 5%
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .slider .nav-horizontal {
      position: absolute;      
      right: 5%;
      bottom: 5%;
  }

  .slider-ul {
    max-width: 1454px;
    margin: 0 auto;
  }

  .slider iframe {
      width: 100%;
      height: 305px;
      border: none;
  }

.slider .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-radius: 0;
    width: 100%;
    padding: 0
}
.slider-ul {
    max-width: 1454px;
    margin: 0 auto;
  }
.slider-li {
    float: left;
    width: 100%;
    display: none;
    border: none
}

.slider-li.active {
    display: block;
    background: #000
}

.slider-arrow {
    position: absolute;
    color: #fff;
    padding: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.slider .nav-horizontal .nav-item {
    border: 1px solid #fff;
    height: 8px;
    width: 25px;
    float: left;
    margin: 2px;
    list-style: none;
    cursor: pointer
}

.slider .nav-horizontal .nav-item .nav-link.active,.slider .nav-horizontal .nav-item .nav-link:hover {
    border: 1px solid transparent;
    height: 8px;
    width: 25px;
    float: left;
    list-style: none;
    cursor: pointer;
    border-radius: 0;
}
.nav-horizontal .nav-link{
    height: 100%;
    width: 100%;
}
.nav-horizontal .nav-link.active{
    background-color: #fff;
}

.slider .next,.slider .prev {
    background: transparent;
    text-decoration: none;
    font-size: 20px
}