<h3 class="account-header active">Inbox</h3>

<p class="warning">No emails <i class="italic">*if No emails exit*</i></p>

    <div class="account-inbox-container clearfix">
      <div class="pull-left account-inbox-subj">
        <div class="account-inbox-date">01 August 2018</div>
        <span class="bold">Play these exciting games</span> 
    </div>
       <button class="btn btn-secondary pull-left account-inbox-btn" type="button">view</button>
    </div>


    <div class="account-inbox-container clearfix">
      <div class="pull-left account-inbox-subj">
        <div class="account-inbox-date">01 August 2018</div>
        <span class="bold">Play these exciting games</span> 
    </div>
       <button class="btn btn-secondary pull-left account-inbox-btn" type="button">view</button>
    </div>


    <div class="account-inbox-container clearfix">
      <div class="pull-left account-inbox-subj">
        <div class="account-inbox-date">01 August 2018</div>
        <span class="bold">Play these exciting games</span> 
    </div>
       <button class="btn btn-secondary pull-left account-inbox-btn" type="button">view</button>
    </div>
