<!-- <form [formGroup]="loginForm">
  <div class="form-group">
    <input type="text" class="form-control" formControlName="username" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" formControlName="password" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-lg btn-primary btn-block" (click)="login()" [disabled]="this.loginForm.invalid">LOG IN</button>
  <a href="./" class="text-right clearfix">Forgot your login details?</a>
  <a href="./" class="text-right clearfix">Create an account</a>
</form> -->
<form>
  
      <div class="row">
        <div class="col-twelve grid">
          <label>Input Label
            <input type="text" placeholder="Input One">
          </label>
        </div>
      </div>
  
      <div class="row">
        <div class="col-four grid">
          <label>Input Label
            <input type="text" placeholder="Input two">
          </label>
        </div>
        <div class="col-four grid">
          <label>Input Label
            <input type="text" placeholder="Input Three">
          </label>
        </div>
        <div class="col-four grid">
          <label>Input Label
            <input type="text" placeholder="Input Four">
          </label>
        </div>

      </div>
  
      <div class="row">
        <div class="col-six grid">
          <label>Select option
            <select>
              <option value="hello">Hello</option>
              <option value="bonsua">Bonsua</option>
              <option value="sveiki">Sveiki</option>
              <option value="ola">Ola</option>
            </select>
          </label>
        </div>
        <div class="col-six grid">
          <label>Select option
            <select>
              <option value="barat">Barat</option>
              <option value="rhubarb">Brigete</option>
              <option value="siphathisiwe">Siphathisiwe</option>
              <option value="stephanus">Stephanus</option>
              <option value="rhubarb">Richard</option>
              <option value="rhubarb">Rui</option>
            </select>
          </label>
        </div>

      </div>
     
      <div class="row">
        <div class="col-six grid">
          <label>Radio buttons</label>
          <input id="radioYes" type="radio" name="radio" value="Yes">
          <label for="radioYes">Yes</label>
          <input id="radioNo" type="radio" name="radio" value="No">
          <label for="radioNo">No</label>
        </div>
        <div class="col-six grid">
          <label>Checkbox buttons</label>
  
          <input id="checkbox1" type="checkbox">
          <label for="checkbox1">Checkbox 1</label>
          <input id="checkbox2" type="checkbox">
          <label for="checkbox2">Checkbox 2</label>
        </div>

      </div>
  
      <div class="row">
        <div class="col-twelve grid">
          <label>Textarea Label
            <textarea placeholder="Our textarea"></textarea>
          </label>
        </div>
      </div>
  
      <div class="row">
        <div class="col-twelve grid">
          <input type="submit" class="btn btn-success" value="Submit">
          <input type="submit" class="btn btn-danger" value="Reset">
        </div>
      </div>
  
    </form>