<ul class="nav" [class.nav-tabs]="!vertical" [class.nav-tabs-vertical]="vertical">
    <li *ngFor="let tab of tabs; let i = index" (click)="selectTab(i)"  class="nav-item">
      <a routerLink="#" class="nav-link" [class.active]="tab.active" [class.disabled]="tab.disabled">{{tab.title}}</a>
    </li>
</ul>
  <ng-content></ng-content>

  <!--<ul class="nav-tabs-reg" [class.nav-tabs]="!vertical" [class.nav-tabs-vertical]="vertical">
    <li *ngFor="let tab of tabs; let i = index" (click)="selectTab(i)"  class="tab-reg">
      <a class="tab-reg-item" [class.account-header]="!vertical" [class.active]="tab.active" [class.disabled]="tab.disabled">{{tab.title}}</a>
       <span class="hr-step"></span>
    </li>
  </ul>
  <ng-content></ng-content> -->