<div id="forms">
  <form>

    <div class="row">
      <div class="col-twelve grid">

        <h1 class="font-bold">Forms</h1>

        <label>Input Label
          <input type="text" placeholder="Input One">
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-four grid">
        <label>Input Label
          <input type="text" placeholder="Input two">
        </label>
      </div>
      <div class="col-four grid">
        <label>Input Label
          <input type="text" placeholder="Input Three">
        </label>
      </div>
      <div class="col-four grid">
        <label>Input Label
          <input type="text" placeholder="Input Four">
        </label>
      </div>
      <div class="col-twelve grid">
          <pre>
          <code class="language-html" data-lang="html">
          <span class="nt">&lt;label</span> <span class="nt">&gt;</span>Input label<span class="nt">&lt;input</span> <span class="na">name=</span><span class="s">"inputOne"</span> <span class="na"> type=</span><span class="s">"text"</span><span class="na"> placeholder=</span><span class="s">"inputOne"</span> <span class="nt"> /&gt;</span><span class="nt">&lt;/label</span> <span class="nt">&gt;</span>   
          </code>
          </pre>
    </div>
    </div>

    <div class="row">
      <div class="col-six grid">
        <label>Select option
          <select>
            <option value="hello">Hello</option>
            <option value="bonsua">Bonsua</option>
            <option value="sveiki">Sveiki</option>
            <option value="ola">Ola</option>
          </select>
        </label>
      </div>
      <div class="col-six grid">
        <label>Select option
          <select>
            <option value="barat">Barat</option>
            <option value="rhubarb">Brigete</option>
            <option value="siphathisiwe">Siphathisiwe</option>
            <option value="stephanus">Stephanus</option>
            <option value="rhubarb">Richard</option>
            <option value="rhubarb">Rui</option>
          </select>
        </label>
      </div>
      <div class="col-twelve grid">
            <pre>
            <code class="language-html" data-lang="html">
            <span class="nt">&lt;label</span> <span class="nt">&gt;</span>Select label
            <span class="nt">&lt;select</span><span class="nt">&gt;</span>
                <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"hello"</span><span class="nt">&gt;</span>Hello<span class="nt">&lt;/option&gt;</span>
                <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"bonsua"</span><span class="nt">&gt;</span>Bonsua<span class="nt">&lt;/option&gt;</span>
                <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"sveiki"</span><span class="nt">&gt;</span>Sveiki<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;</span><span class="nt">/select&gt;</span>
            <span class="nt">&lt;/label</span> <span class="nt">&gt;</span>   
            </code>
            </pre>
      </div>
    </div>
   
    <div class="row">
      <div class="col-six grid">
        <label>Radio buttons</label>
        <input id="radioYes" type="radio" name="radio" value="Yes">
        <label for="radioYes">Yes</label>
        <input id="radioNo" type="radio" name="radio" value="No">
        <label for="radioNo">No</label>
      </div>
      <div class="col-six grid">
        <label>Checkbox buttons</label>

        <input id="checkbox1" type="checkbox">
        <label for="checkbox1">Checkbox 1</label>
        <input id="checkbox2" type="checkbox">
        <label for="checkbox2">Checkbox 2</label>
      </div>
      <div class="col-twelve grid">
          <pre>
          <code class="language-html" data-lang="html">
          <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"radioYes"</span> <span class="nt">&gt;</span>Yes<span class="nt">&lt;/label</span> <span class="nt">&gt;</span>  
          <span class="nt">&lt;input</span> <span class="na">name=</span><span class="s">"radio"</span> <span class="na">id=</span><span class="s">"radioYes"</span> <span class="na"> type=</span><span class="s">"radio"</span><span class="na"> value=</span><span class="s">"yes"</span> <span class="nt"> /&gt;</span>   
           
          <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"checkbox1"</span> <span class="nt">&gt;</span>checkbox1<span class="nt">&lt;/label</span> <span class="nt">&gt;</span>  
          <span class="nt">&lt;input</span> <span class="na">name=</span><span class="s">"checkbox1"</span> <span class="na">id=</span><span class="s">"checkbox1"</span> <span class="na"> type=</span><span class="s">"checkbox"</span> <span class="nt"> /&gt;</span>   
          </code>
          </pre>
    </div>
    </div>

    <div class="row">
      <div class="col-twelve grid">
        <label>Textarea Label
          <textarea placeholder="Our textarea"></textarea>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-twelve grid">
        <input type="submit" class="btn btn-success" value="Submit">
        <input type="submit" class="btn btn-danger" value="Reset">
      </div>
    </div>

  </form>
</div>
