<div id="buttons">

  <div class="row">
    <div class="twelve-large potatoes">
      <h1 class="font-bold">Buttons</h1>
      <p>Default button classes</p>
      <a href="#" class="btn">Default</a>
      <a href="#" class="btn btn-primary">Primary</a>
      <a href="#" class="btn btn-success">Success</a>
      <a href="#" class="btn btn-warning">Warning</a>
      <a href="#" class="btn btn-danger">Danger</a>
      <a href="#" class="btn btn-full">Full</a>
    </div>
  </div>
  <div class="row">
    <div class="six-large potatoes">
      <p>Button sizing</p>
      <div>
        <a href="#" class="btn btn-small">Small</a>
        <a href="#" class="btn">Default</a>
        <a href="#" class="btn btn-large">Large</a>
      </div>
      <div>
        <a href="#" class="btn btn-large btn-success">Large</a>
        <a href="#" class="btn btn-primary">Default</a>
        <a href="#" class="btn btn-small btn-danger">Small</a>
      </div>
    </div>
    <div class="six-large potatoes">
      <p>Button expanded</p>
      <a href="#" class="btn btn-expanded">Expanded</a>
      <a href="#" class="btn btn-success btn-expanded">Expanded</a>
    </div>
  </div>

</div>
