<div class="container">
  <div id="header">
    <div class="row">
      <div class="twelve grids">
        <h1>Global Playground</h1>
        <h3>Simple CSS framework for Web Team.</h3>
      </div>
    </div>
    <div class="row">
        <div class="three grids">
          <button class="btn btn-full btn-expanded" (click)="panelName = 'buttons'">Buttons</button>
        </div>      
        <div class="three grids">
          <button class="btn btn-expanded" (click)="panelName = 'forms'">Forms</button>
        </div>
        <div class="three grids">
            <button class="btn btn-expanded" (click)="panelName = 'typography'">Typography</button>
          </div>
        <div class="three grids">
            <button class="btn btn-expanded" (click)="panelName = 'grid'">Grid</button>
          </div>
      </div>
      <div class="row" [ngSwitch]="panelName">
          <section *ngSwitchCase="'buttons'">
            <app-buttons></app-buttons>
          </section>
          <section *ngSwitchCase="'forms'">
            <app-forms></app-forms>
          </section>
          <section *ngSwitchCase="'typography'">
              <app-typography></app-typography>
         </section>
          <section *ngSwitchCase="'grid'">
              <app-grid></app-grid>
            </section>
        </div>
  </div>

 
</div>



