<div class="row">
  <div class="col-twelve grid">
  <div class="flex-container">
    <div class="flex-category-item featured-item">
      <div class="flex-category-name">
         Slot Games
      </div>
      <div class="flex-container nag-marg-lr-5">
        <div class="flex-game-item flex-game-item-full height-340">
    <!-- Start Game -->
    <span class="game-label">Halloweeeen</span>
    <div class="game-image" [ngStyle]="{'background-image':'url('+tileImage+')'}">
      <div class="image-hover" *ngIf="!skeleton">
      <div class="center-block">
        <ng-container >
          <button class="btn btn-primary" >
            Play for Real
          </button>
          <button class="btn btn-secondary" *ngIf="GP !== 'Evolution'">
            Play for Fun
          </button>
        </ng-container>
        <button class="btn btn-primary" hidden="hidden">
          Play Now
        </button>
      </div>
      </div>
    </div>
    <p class="new-game" *ngIf="isNew">New</p>
    <div class="hot" *ngIf="heat === 2">
      <p>Hot</p>
    </div>
    <div class="cold" *ngIf="heat === 1">
      <p>Cold</p>
    </div>
    <!-- End Game -->
        </div>
        <div class="flex-game-item">
    <!-- Start Game -->
    <span class="game-label">Halloweeeen</span>
    <div class="game-image" [ngStyle]="{'background-image':'url('+tileImage+')'}">
      <div class="image-hover" *ngIf="!skeleton">
      <div class="center-block">
        <ng-container >
          <button class="btn btn-primary" >
            Play for Real
          </button>
          <button class="btn btn-secondary" *ngIf="GP !== 'Evolution'">
            Play for Fun
          </button>
        </ng-container>
        <button class="btn btn-primary" hidden="hidden">
          Play Now
        </button>
      </div>
      </div>
    </div>
    <p class="new-game" *ngIf="isNew">New</p>
    <div class="hot" *ngIf="heat === 2">
      <p>Hot</p>
    </div>
    <div class="cold" *ngIf="heat === 1">
      <p>Cold</p>
    </div>
    <!-- End Game -->
        </div>
        <div class="flex-game-item">
    <!-- Start Game -->
    <span class="game-label">Halloweeeen</span>
    <div class="game-image" [ngStyle]="{'background-image':'url('+tileImage+')'}">
      <div class="image-hover" *ngIf="!skeleton">
      <div class="center-block">
        <ng-container >
          <button class="btn btn-primary" >
            Play for Real
          </button>
          <button class="btn btn-secondary" *ngIf="GP !== 'Evolution'">
            Play for Fun
          </button>
        </ng-container>
        <button class="btn btn-primary" hidden="hidden">
          Play Now
        </button>
      </div>
      </div>
    </div>
    <p class="new-game" *ngIf="isNew">New</p>
    <div class="hot" *ngIf="heat === 2">
      <p>Hot</p>
    </div>
    <div class="cold" *ngIf="heat === 1">
      <p>Cold</p>
    </div>
    <!-- End Game -->
        </div>
        <div class="flex-game-item">
    <!-- Start Game -->
    <span class="game-label">Halloweeeen</span>
    <div class="game-image" [ngStyle]="{'background-image':'url('+tileImage+')'}">
      <div class="image-hover" *ngIf="!skeleton">
      <div class="center-block">
        <ng-container >
          <button class="btn btn-primary" >
            Play for Real
          </button>
          <button class="btn btn-secondary" *ngIf="GP !== 'Evolution'">
            Play for Fun
          </button>
        </ng-container>
        <button class="btn btn-primary" hidden="hidden">
          Play Now
        </button>
      </div>
      </div>
    </div>
    <p class="new-game" *ngIf="isNew">New</p>
    <div class="hot" *ngIf="heat === 2">
      <p>Hot</p>
    </div>
    <div class="cold" *ngIf="heat === 1">
      <p>Cold</p>
    </div>
    <!-- End Game -->
        </div>
        <div class="flex-game-item">
    <!-- Start Game -->
    <span class="game-label">Halloweeeen</span>
    <div class="game-image" [ngStyle]="{'background-image':'url('+tileImage+')'}">
      <div class="image-hover" *ngIf="!skeleton">
      <div class="center-block">
        <ng-container >
          <button class="btn btn-primary" >
            Play for Real
          </button>
          <button class="btn btn-secondary" *ngIf="GP !== 'Evolution'">
            Play for Fun
          </button>
        </ng-container>
        <button class="btn btn-primary" hidden="hidden">
          Play Now
        </button>
      </div>
      </div>
    </div>
    <p class="new-game" *ngIf="isNew">New</p>
    <div class="hot" *ngIf="heat === 2">
      <p>Hot</p>
    </div>
    <div class="cold" *ngIf="heat === 1">
      <p>Cold</p>
    </div>
    <!-- End Game -->
        </div>
        <div class="flex-game-item">
    <!-- Start Game -->
    <span class="game-label">Halloweeeen</span>
    <div class="game-image" [ngStyle]="{'background-image':'url('+tileImage+')'}">
      <div class="image-hover" *ngIf="!skeleton">
      <div class="center-block">
        <ng-container >
          <button class="btn btn-primary" >
            Play for Real
          </button>
          <button class="btn btn-secondary" *ngIf="GP !== 'Evolution'">
            Play for Fun
          </button>
        </ng-container>
        <button class="btn btn-primary" hidden="hidden">
          Play Now
        </button>
      </div>
      </div>
    </div>
    <p class="new-game" *ngIf="isNew">New</p>
    <div class="hot" *ngIf="heat === 2">
      <p>Hot</p>
    </div>
    <div class="cold" *ngIf="heat === 1">
      <p>Cold</p>
    </div>
    <!-- End Game -->
        </div>
        <div class="flex-game-item">
    <!-- Start Game -->
    <span class="game-label">Halloweeeen</span>
    <div class="game-image" [ngStyle]="{'background-image':'url('+tileImage+')'}">
      <div class="image-hover" *ngIf="!skeleton">
      <div class="center-block">
        <ng-container >
          <button class="btn btn-primary" >
            Play for Real
          </button>
          <button class="btn btn-secondary" *ngIf="GP !== 'Evolution'">
            Play for Fun
          </button>
        </ng-container>
        <button class="btn btn-primary" hidden="hidden">
          Play Now
        </button>
      </div>
      </div>
    </div>
    <p class="new-game" *ngIf="isNew">New</p>
    <div class="hot" *ngIf="heat === 2">
      <p>Hot</p>
    </div>
    <div class="cold" *ngIf="heat === 1">
      <p>Cold</p>
    </div>
    <!-- End Game -->
        </div>
      </div>
    </div>
    <div class="flex-category-item">
      <div class="flex-category-name">
         Casino
      </div>
      <div class="flex-container">
          <div class="flex-game-item flex-game-item-full no-pad-all">
              <!-- Start Game -->
              <span class="game-label">Halloweeeen</span>
              <div class="game-image" [ngStyle]="{'background-image':'url('+tileImage+')'}">
                <div class="image-hover" *ngIf="!skeleton">
                <div class="center-block">
                  <ng-container >
                    <button class="btn btn-primary" >
                      Play for Real
                    </button>
                    <button class="btn btn-secondary" *ngIf="GP !== 'Evolution'">
                      Play for Fun
                    </button>
                  </ng-container>
                  <button class="btn btn-primary" hidden="hidden">
                    Play Now
                  </button>
                </div>
                </div>
              </div>
              <p class="new-game" *ngIf="isNew">New</p>
              <div class="hot" *ngIf="heat === 2">
                <p>Hot</p>
              </div>
              <div class="cold" *ngIf="heat === 1">
                <p>Cold</p>
              </div>
              <!-- End Game -->
           </div>
          <div class="flex-game-item flex-game-item-full no-pad-all">
              <!-- Start Game -->
              <span class="game-label">Halloweeeen</span>
              <div class="game-image" [ngStyle]="{'background-image':'url('+tileImage+')'}">
                <div class="image-hover" *ngIf="!skeleton">
                <div class="center-block">
                  <ng-container >
                    <button class="btn btn-primary" >
                      Play for Real
                    </button>
                    <button class="btn btn-secondary" *ngIf="GP !== 'Evolution'">
                      Play for Fun
                    </button>
                  </ng-container>
                  <button class="btn btn-primary" hidden="hidden">
                    Play Now
                  </button>
                </div>
                </div>
              </div>
              <p class="new-game" *ngIf="isNew">New</p>
              <div class="hot" *ngIf="heat === 2">
                <p>Hot</p>
              </div>
              <div class="cold" *ngIf="heat === 1">
                <p>Cold</p>
              </div>
              <!-- End Game -->
           </div>
          <div class="flex-game-item flex-game-item-full no-pad-all">
              <!-- Start Game -->
              <span class="game-label">Halloweeeen</span>
              <div class="game-image" [ngStyle]="{'background-image':'url('+tileImage+')'}">
                <div class="image-hover" *ngIf="!skeleton">
                <div class="center-block">
                  <ng-container >
                    <button class="btn btn-primary" >
                      Play for Real
                    </button>
                    <button class="btn btn-secondary" *ngIf="GP !== 'Evolution'">
                      Play for Fun
                    </button>
                  </ng-container>
                  <button class="btn btn-primary" hidden="hidden">
                    Play Now
                  </button>
                </div>
                </div>
              </div>
              <p class="new-game" *ngIf="isNew">New</p>
              <div class="hot" *ngIf="heat === 2">
                <p>Hot</p>
              </div>
              <div class="cold" *ngIf="heat === 1">
                <p>Cold</p>
              </div>
              <!-- End Game -->
           </div>
          <div class="flex-game-item flex-game-item-full no-pad-all">
              <!-- Start Game -->
              <span class="game-label">Halloweeeen</span>
              <div class="game-image" [ngStyle]="{'background-image':'url('+tileImage+')'}">
                <div class="image-hover" *ngIf="!skeleton">
                <div class="center-block">
                  <ng-container >
                    <button class="btn btn-primary" >
                      Play for Real
                    </button>
                    <button class="btn btn-secondary" *ngIf="GP !== 'Evolution'">
                      Play for Fun
                    </button>
                  </ng-container>
                  <button class="btn btn-primary" hidden="hidden">
                    Play Now
                  </button>
                </div>
                </div>
              </div>
              <p class="new-game" *ngIf="isNew">New</p>
              <div class="hot" *ngIf="heat === 2">
                <p>Hot</p>
              </div>
              <div class="cold" *ngIf="heat === 1">
                <p>Cold</p>
              </div>
              <!-- End Game -->
           </div>
          <div class="flex-game-item flex-game-item-full no-pad-all">
              <!-- Start Game -->
              <span class="game-label">Halloweeeen</span>
              <div class="game-image" [ngStyle]="{'background-image':'url('+tileImage+')'}">
                <div class="image-hover" *ngIf="!skeleton">
                <div class="center-block">
                  <ng-container >
                    <button class="btn btn-primary" >
                      Play for Real
                    </button>
                    <button class="btn btn-secondary" *ngIf="GP !== 'Evolution'">
                      Play for Fun
                    </button>
                  </ng-container>
                  <button class="btn btn-primary" hidden="hidden">
                    Play Now
                  </button>
                </div>
                </div>
              </div>
              <p class="new-game" *ngIf="isNew">New</p>
              <div class="hot" *ngIf="heat === 2">
                <p>Hot</p>
              </div>
              <div class="cold" *ngIf="heat === 1">
                <p>Cold</p>
              </div>
              <!-- End Game -->
           </div>
      </div>
    </div>
    <div class="flex-category-item">
      <div class="flex-category-name">
        Vedeo Poker
      </div>
      <div class="flex-container">
          <div class="flex-game-item flex-game-item-full no-pad-all">
              <!-- Start Game -->
              <span class="game-label">Halloweeeen</span>
              <div class="game-image" [ngStyle]="{'background-image':'url('+tileImage+')'}">
                <div class="image-hover" *ngIf="!skeleton">
                <div class="center-block">
                  <ng-container >
                    <button class="btn btn-primary" >
                      Play for Real
                    </button>
                    <button class="btn btn-secondary" *ngIf="GP !== 'Evolution'">
                      Play for Fun
                    </button>
                  </ng-container>
                  <button class="btn btn-primary" hidden="hidden">
                    Play Now
                  </button>
                </div>
                </div>
              </div>
              <p class="new-game" *ngIf="isNew">New</p>
              <div class="hot" *ngIf="heat === 2">
                <p>Hot</p>
              </div>
              <div class="cold" *ngIf="heat === 1">
                <p>Cold</p>
              </div>
              <!-- End Game -->
           </div>
          <div class="flex-game-item flex-game-item-full no-pad-all">
              <!-- Start Game -->
              <span class="game-label">Halloweeeen</span>
              <div class="game-image" [ngStyle]="{'background-image':'url('+tileImage+')'}">
                <div class="image-hover" *ngIf="!skeleton">
                <div class="center-block">
                  <ng-container >
                    <button class="btn btn-primary" >
                      Play for Real
                    </button>
                    <button class="btn btn-secondary" *ngIf="GP !== 'Evolution'">
                      Play for Fun
                    </button>
                  </ng-container>
                  <button class="btn btn-primary" hidden="hidden">
                    Play Now
                  </button>
                </div>
                </div>
              </div>
              <p class="new-game" *ngIf="isNew">New</p>
              <div class="hot" *ngIf="heat === 2">
                <p>Hot</p>
              </div>
              <div class="cold" *ngIf="heat === 1">
                <p>Cold</p>
              </div>
              <!-- End Game -->
           </div>
          <div class="flex-game-item flex-game-item-full no-pad-all">
              <!-- Start Game -->
              <span class="game-label">Halloweeeen</span>
              <div class="game-image" [ngStyle]="{'background-image':'url('+tileImage+')'}">
                <div class="image-hover" *ngIf="!skeleton">
                <div class="center-block">
                  <ng-container >
                    <button class="btn btn-primary" >
                      Play for Real
                    </button>
                    <button class="btn btn-secondary" *ngIf="GP !== 'Evolution'">
                      Play for Fun
                    </button>
                  </ng-container>
                  <button class="btn btn-primary" hidden="hidden">
                    Play Now
                  </button>
                </div>
                </div>
              </div>
              <p class="new-game" *ngIf="isNew">New</p>
              <div class="hot" *ngIf="heat === 2">
                <p>Hot</p>
              </div>
              <div class="cold" *ngIf="heat === 1">
                <p>Cold</p>
              </div>
              <!-- End Game -->
           </div>
          <div class="flex-game-item flex-game-item-full no-pad-all">
              <!-- Start Game -->
              <span class="game-label">Halloweeeen</span>
              <div class="game-image" [ngStyle]="{'background-image':'url('+tileImage+')'}">
                <div class="image-hover" *ngIf="!skeleton">
                <div class="center-block">
                  <ng-container >
                    <button class="btn btn-primary" >
                      Play for Real
                    </button>
                    <button class="btn btn-secondary" *ngIf="GP !== 'Evolution'">
                      Play for Fun
                    </button>
                  </ng-container>
                  <button class="btn btn-primary" hidden="hidden">
                    Play Now
                  </button>
                </div>
                </div>
              </div>
              <p class="new-game" *ngIf="isNew">New</p>
              <div class="hot" *ngIf="heat === 2">
                <p>Hot</p>
              </div>
              <div class="cold" *ngIf="heat === 1">
                <p>Cold</p>
              </div>
              <!-- End Game -->
           </div>
          <div class="flex-game-item flex-game-item-full no-pad-all">
              <!-- Start Game -->
              <span class="game-label">Halloweeeen</span>
              <div class="game-image" [ngStyle]="{'background-image':'url('+tileImage+')'}">
                <div class="image-hover" *ngIf="!skeleton">
                <div class="center-block">
                  <ng-container >
                    <button class="btn btn-primary" >
                      Play for Real
                    </button>
                    <button class="btn btn-secondary" *ngIf="GP !== 'Evolution'">
                      Play for Fun
                    </button>
                  </ng-container>
                  <button class="btn btn-primary" hidden="hidden">
                    Play Now
                  </button>
                </div>
                </div>
              </div>
              <p class="new-game" *ngIf="isNew">New</p>
              <div class="hot" *ngIf="heat === 2">
                <p>Hot</p>
              </div>
              <div class="cold" *ngIf="heat === 1">
                <p>Cold</p>
              </div>
              <!-- End Game -->
           </div>
      </div>
    </div>
    <div class="flex-category-item no-pad-right">
      <div class="flex-category-name">
        Copming Soon
      </div>
    </div>



  </div>
  </div>
</div>
