<div class="balances-container">
<h3 class="account-header active">Balances</h3>
<table class="account-balance-table">
  <tr>
    <td>
      <table class="spacing-bottom spacing-top">
          <tr>
              <td class="account-balance-desc">Cash Balance:</td>
              <td class="bold">$00.00 </td>
            </tr>
            <tr>
              <td class="account-balance-desc">Bonus Balance: </td>
              <td class="bold">$00.00</td>
            </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table class="spacing-bottom">
          <tr>
              <td class="account-balance-desc">Total Balance: </td>
              <td class="bold">$00.00</td>
            </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table class="spacing-bottom">
          <tr>
              <td class="account-balance-desc">Play-through Required: </td>
              <td class="bold">$00.00</td>
            </tr>
            <tr>
              <td class="account-balance-desc">Play-through Achieved: </td>
              <td class="bold">$00.00</td>
            </tr>
      </table>
    </td>
  </tr>
</table>
<div class="account-buttons-container">
  <button class="btn btn-primary spacing-right">Deposit Now</button>
  <button class="btn btn-secondary spacing-left">Withdraw Now</button>
</div>
<div class="account-footer-container">
    <a class="account-footer-link">Terms and Conditions</a>
    <span class="vertical-line"></span>
    <a class="account-footer-link">Contract</a>
</div>
</div>
